flask
flask-cors
python-dotenv
anthropic
langchain
langchain-anthropic
langchain-chroma
langchain-community
langgraph
chromadb
fastembed
diskcache
requests
duckdb
matplotlib
pandas
numpy
chromadb
scikit-learn
